*{margin:0;padding:0}
html,body{ font-family:Arial, Helvetica, sans-serif; font-size:12px; width:100%; color:#303030;}
html{overflow-y:scroll;}
td{font-size:12px;}
input{font-size:14px; outline:none;}
select{font-size:12px;}
textarea{ overflow:auto; font-size:12px;}
img{ border:0px;}
ul,li{list-style-type:none;}
ul,li,p,div,input,ol{padding:0px; margin:0px;}
a{text-decoration:none; color:#999999; outline-style:none;}
a:hover{ color:#ed3445;}
h1{ font-size:4rem;font-weight: normal}
h2{ font-size:2.6rem;font-weight: normal}
h3{ font-size:2rem;font-weight: normal}
h4{ font-size:16px;font-weight: normal}
/* 样式归0结束 */
/* 全局样式公用 开始 */
@media screen and (min-width: 300px){
    .container{  width: 100%;}
    body header{width: 100%}
}
@media only screen and (min-width:1000px){
    .container{  width: 1068px;}
    body header{width:1068px}
}

.container{   margin:0 auto;  }
.minicontainer{width: 60%;  margin:0 auto;}
.minicontainer2{width: 90%;  margin:0 auto;}
.bc{background-color: rgba(232, 232, 232, 0.88); color: #5c5c5c; }
.bc1{background-color: rgba(41, 42, 43, 0.88) ;color: #ccc }
.bc2{background-color: #fff;color: #6f6f6f
}

.nbc1{background-color: #222; color:#cccccc }
.nbc3{background:url(../images/DSC_3694.JPG) fixed;font-size: 100%}
/**/
header{
    top:0;
    background-color: #fff;
    z-index: 99;
}
.ht80{  height: 80px; clear:both;display: block;width: 100% }
.ht70{  height: 70px; clear:both;display: block;width: 100% }
.ht60{  height: 60px; clear:both;display: block;width: 100% }
.ht50{  height: 50px; clear:both;display: block;width: 100% }
.ht40{  height: 40px; clear:both;display: block;width: 100% }
.ht30{  height: 30px; clear:both;display: block;width: 100% }
.ht20{  height: 20px; clear:both;display: block;width: 100% }
.ht10{  height: 10px; clear:both;display: block;width: 100% }

.header-main{
    display: flex;
    -webkit-flex-flow:row nowrap;
    -moz-flex-flow:row nowrap;
    -o-flex-flow:row nowrap;
    -ms-flex-flow:row nowrap;
    flex-flow:row nowrap;
    line-height: 80px;
    align-items: stretch;
    -webkit-align-items: stretch;
    -moz-align-items: stretch;
    -ms-align-items: stretch;
    -o-align-items: stretch;
    overflow: hidden;
}
.header-main .img-ct{
    display: flex;
    display: -webkit-flex;
    align-items: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    -o-align-items: center;
}
.header-main .nav{
    flex-grow: 2;
    text-align: right;
}
.header-main .nav ul{
    height:100%;
    display: flex;
    flex-flow:row nowrap;
    align-items: stretch;
    -webkit-align-items: stretch;
    -moz-align-items: stretch;
    -ms-align-items: stretch;
    -o-align-items: stretch;
    justify-content:flex-end;
}
.header-main .nav ul li{
    display: inline-flex;
    display: -webkit-inline-flex;
    align-items: center;
    -webkit-align-items:center;
    -moz-align-items:center;
    -ms-align-items: center;
    -o-align-items: center;
    -webkit-justify-content:flex-end;
    -moz-justify-content:flex-end;
    -ms-justify-content:flex-end;
    -o-justify-content:flex-end;
    justify-content:flex-end;
    padding:0 25px;
}
.header-main .nav ul li a{
    font-size: 14px;
    font-weight: 600;
    color: #787878;
    /*letter-spacing: 0.07rem;*/
    position: relative;
}
.nav ul li a span{
    position: absolute;
    bottom: 12px;
    left:0;
    right:100%;
    height: 1px;
    background-color:  #787878;
}
.header-main .nav ul li a .showline{
    right: 0;
}
@keyframes line
{
    0% {  right:100%;}
    80% {right: -2%;}
    100%{right: 0;}
}
@-ms-keyframes line {
    0% {
        right: 100%;
    }
    80% {
        right: -2%;
    }
    100% {
        right: 0;
    }
}
@-moz-keyframes  line
{
    0% {  right:100%;}
    80% {right: -2%;}
    100%{right: 0;}
}
@-webkit-keyframes  line
{
    0% {  right:100%;}
    80% {right: -2%;}
    100%{right: 0;}
}
@-o-keyframes  line
{
    0% {  right:100%;}
    80% {right: -2%;}
    100%{right: 0;}
}
.header-main .nav ul li:hover span:not(.showline){
    right: 0;
    /*transition: all 300ms ease-in-out;*/
    animation:line 200ms  alternate;
    -webkit-animation:line 200ms  alternate ;
    -moz-animation:line 200ms  alternate ;
    -o-animation:line 200ms  alternate ;
    -ms-animation:line 200ms  alternate ;
}
/**header end**/
.banner{
    position: relative;
}
.banner img{
    width: 100%;
    display: block;
}
/**/
.section {
    overflow: hidden;
    font-family:"Microsoft YaHei", "CenturyGothic-Regular", CenturyGothic, AppleGothic, sans-serif;
}

/**plate**/
.plate{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    flex-flow: row nowrap;
    display: flex;
    /*box-shadow: 1px 0 1px 0 #fff,2px 0 4px 0 #dcdcdc, 1px 0 7px 0 #c2c2c2, 1px 0 10px 0 #a7a7a7;*/
}
.plate .plate-left,.plate .plate-right{
    align-items: center;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    flex-flow:column;
    -webkit-justify-content:center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    -o-justify-content: center;
    justify-content: center;
    -webkit-flex-flow:column;;
    -moz-flex-flow:column;;
    -ms-flex-flow:column;;
    -o-flex-flow:column;;
    line-height:1.8;
}
.plate .plate-left,.plate .plate-right{
    width: 50%;
}
.plate  p{
    text-indent:22px;
    font-size: 15px;
    font-family:  "Microsoft YaHei", "CenturyGothic-Regular", CenturyGothic, AppleGothic, sans-serif;
}
.plate h2{
    text-transform: uppercase;
    font-weight: 900;
    text-shadow: 1px 1px #ccc;
    font-family:  "Microsoft YaHei", "CenturyGothic-Regular", CenturyGothic, AppleGothic, sans-serif;
}
.plate img{
    width: 100%;
    max-height: 400px;
    display:block;
}

/**/
.pic{
    text-align: center;
}
.pic .hr-inner,.pic2 .hr-inner{
    position: relative;
    display:inline-block;
}
.pic .hr-inner{
    width: 360px;
    border-top:1px solid #585b5b;
}
.pic .hr-inner-style,.pic2 .hr-inner-style{
    position: absolute;
    display: inline-block;
    width: 7px;height: 7px;
    border-radius: 50%;
    top:-5px;
}
.minicontainer{
    text-align: center;
}
.pic .hr-inner-style{
    border:1px solid #585b5b;
    background-color: #222;
    left:49.5%;
}
/***/
.mask {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    display: -webkit-flex;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    -o-align-items: center;
    align-items: center;
    -webkit-justify-content:center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    -o-justify-content: center;
    justify-content: center;
}
.contact{
  padding-left: 30px;
}

.panel-3{
    width: 33.3333%;
}
.panel-3 img:hover{
    transform: scale(0.95);
    transition: transform 200ms linear;
}
.pic .cl{
    border-top:1px dotted #585b5b;
    width: 100%;
}
a:hover{
    color: #595959;
}